body {
  background-image: url('contact-about.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  margin: 0;
 
}
.logged-in-user {
  text-align: center;
  margin-top: 20px;
  color: #333;}
  .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.statistics {
  margin-bottom: 20px;
}

.statistics h2 {
  text-align: center;
}

.users-section h2 {
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
.form-group {
  margin-bottom: 20px;
}

.form-group button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
